*{
    margin: 0;
    padding : 0;
}

body{
    width: 100%;
    height: 100vh;
}
html{
    font-size: 62.5%;
}

:root {
    --primary: hsla(100,60%,10%,0.75);
    --secondary: rgba(0, 0, 0, 0.75);

}

.bgimg1{
    position: relative;
    width: 100%;
    height: 55rem;
    background:linear-gradient(135deg, var(--primary), var(--secondary)),
             url("../img/upbackimg.jpg") no-repeat center center /cover;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 50% 100%, 0 87%);
    background-attachment: fixed;
    
}

.bgimg1shadow {
    filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 1) );
}



.UpperContainer {
    width: 100%;
    height: 7rem;
    display: flex;
    position: relative;
}

.websitename{
    position: absolute;
    top: 0rem;
    left: 2rem;
    line-height: 7rem;
    font-size: 5rem;
    font-family: 'Otomanopee One', sans-serif;
    font-family: 'Zen Tokyo Zoo', cursive;
    letter-spacing: .2rem;
}

.menu {
    position: absolute;
    top: 0;
    right: 2rem;
    line-height: 7rem;
    font-size: 2.5rem;
}

.menu ul li {
    display: inline-block;
    margin: 0 1.5rem;
    
}

.menu ul li a:hover{
    color: rgb(255, 167, 2);
    border-bottom: .2rem solid orange;
}


.menu ul li a{
    text-decoration: none;
    color: white;
}

.welcome-Container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    text-align: center;
}

.welcome-Container #welmsg{
    font-size: 4rem;
    font-family: 'Otomanopee One', sans-serif;
}

.welcome-Container #about-me{
    font-size: 2rem;
    text-transform: uppercase;
}

.welcome-Container #website-for{
    font-size: 3.5rem;
}

.welcome-Container ul li{
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}

.services_cont{
    display: grid;
    place-content: center;
    width: 100%;
    height: 70vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    margin-top: 5rem;

}

.services_heading{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: grid;
    place-content: center;
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.services_graph{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;


}

.services_overall{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;

    

}



#s_border {
    width: 80%;
    height: 1rem;
    background-color: #e0e0e0
}

#s_size1{
    width: 80%;
    background-color: rgb(166, 255, 0);
    height: 100%;
}

#s_size2{
    width: 60%;
    background-color: rgb(22, 174, 245);
    height: 100%;
}

#s_size3{
    width: 40%;
    background-color: red;
    height: 100%;
}

#s_size4{
    width: 90%;
    background-color: rgb(255, 0, 200);
    height: 100%;
}

#s_size5{
    width: 20%;
    background-color: rgb(255, 238, 0);
    height: 100%;
}

#s_size6{
    width: 40%;
    background-color: rgb(41, 28, 223);
    height: 100%;
}

.single_ser{
    position: relative;
    margin-bottom: 8rem;
    margin-top: 2rem;
}

#o_para{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    position: absolute;
    top: 6rem;
    left: 9rem;
}

#o_heading{
    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    top: 1rem;
    left: 9rem;
}

.services_overall .single_ser> img {
    width: 6rem;
    height: 8rem;
    position: absolute;
    top: 1rem;
    left: 1rem;

}

.sc_heading{
    margin-top: 5rem ;
    margin-left: 5rem;
    text-align: left;
    font-size: 2rem;
}

.sc_heading div{
    font-size: 5rem;
    font-weight: bold;
    line-height: 6rem;
    text-align: center;
}


.sc_img{
    position: relative;
    width: 95%;
    height: 45rem;
    background:linear-gradient(135deg, var(--primary), var(--secondary)),
             url("../img/upbackimg.jpg") no-repeat center center /cover;
    color: white;
    background-position: center;
    margin: 2rem auto;
    box-shadow: 0 0 1rem black;
    display: grid;
    place-content: center;
    text-align: center;
    text-transform: uppercase;
}

.sc_img .nameinimg {
    margin: 2rem;
    font-size: 5.5rem;
    font-family: 'Lobster', cursive;
    animation: smalllarge 1s linear infinite;

}

@keyframes smalllarge {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.sc_img .disinimg {
    margin: 2rem;
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    
}

.sc_img .butinimg {
    position: relative;
    font-size: 2rem;
    line-height: 5rem;
    margin-top: 4rem;
         
}

.sc_img .butinimg #butvlog {
    width: 15rem;
    height: 5rem;
    display: inline-block;
    border: 2px solid rgb(238, 22, 166) ;
    border-radius: 2.5rem;
    position: absolute;
    left: 5rem; 
    text-decoration: none; 
    color: rgb(238, 22, 166) 

}

.sc_img .butinimg #butblog {
    width: 15rem;
    height: 5rem;
    display: inline-block;
    color:white;
    border: 2px solid white;
    border-radius: 2.5rem;
    position: absolute;
    right: 5rem; 
    text-decoration: none;
 
}

.sc_img .butinimg #butblog:hover{
    background-color:rgb(238, 22, 166) ;
    color: white;
}

.sc_img .butinimg #butvlog:hover{
    background-color:rgb(238, 22, 166) ;
    color: white;
}

.sc_videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sc_videos .card {
    width: 40rem;
    height: 25rem;
    margin: 2rem;
    color: white;
    display: grid;
    place-content: center;
    font-size: 4rem;
    position: relative;
}

.sc_videos .card img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    
}


.sc_videos .card::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background:linear-gradient(135deg, var(--primary), var(--secondary));
    z-index: 1;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.sc_videos .card:hover::before{
    visibility:visible;
}

.sc_videos .card span{
    z-index: 0 ;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.sc_videos .card:hover span{
    z-index: 2;
    visibility: visible;
}

a{
    text-decoration: none;
}